.align-center {
  text-align: center;
  margin-top: 10%;
}

.align-center div{
  display: flex;
  margin: 0 auto;
}

.align-center div.success_message{
  margin-bottom: 1rem;
  color: green;
  display: block;
}